{% extends "layout.html" %}

{% block content %}

<article class="media content-section">
    <img class="rounded-circle article-img"
        src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2"
                href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            <br>
                <a class="btn btn-info btn-sm" href="{{ url_for('post', post_id=post.id) }}/update" role="button">Update</a>
                <span>&nbsp;&nbsp;</span>
                <a class="btn btn-danger btn-sm" href="{{ url_for('post', post_id=post.id) }}/delete" role="button">Delete</a>

        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
        <!-- <br>
        <a class="btn btn-info" href="{{ url_for('post', post_id=post.id) }}/update" role="button">Edit</a>
        <span>&nbsp;&nbsp;</span>
        <a class="btn btn-danger" href="{{ url_for('post', post_id=post.id) }}/delete" role="button">Delete</a> -->
        <br>
    </div>
</article>

{% endblock content%}